.container{
    width: 90%;
    max-width: 600px;
    margin: 2rem;
}

.container h1 {
    margin-bottom: 2rem;
}

.todo_list h2 {
    margin-bottom: 1rem;
}

.todo_list {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: -1px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
}

.todo_form {
    display: flex;
    gap: .4rem;
}

.todo_form input {
    border: 2px solid gray;
    font-weight: 600;
    width: 100%;
}

.todos {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 600px;
    overflow: auto;
}

.todo_card .no_todos{
    font-weight: 600;
    color: gray;
}

.todo_form button{
    all: unset;
    width: 100px;
    text-align: center;
    padding: .4rem .6rem;
    background: var(--blue);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.todo_form button:hover{
    background: #2d2d2d;
}

.todo_form button:active{
    background: white;
}